<h4 class="h4">Contact Us</h4>
<hr class="mb-4" />

<div class="row">
  <div class="col-md-6 mb-3">
    <app-card>
      <h5 class="card-title text-center">Laptop</h5>
      <a routerLink="watch" class="btn btn-success">Know More Laptop</a>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card>
      <h5 class="card-title text-center">Watch</h5>
      <a routerLink="watch" class="btn btn-success"
        >Know More Watch</a
      ></app-card
    >
  </div>
  <div class="col-md-6">
    <app-card>
      <h5 class="card-title text-center">Mobile</h5>
      <a routerLink="watch" class="btn btn-success"
        >Know More Mobile</a
      ></app-card
    >
  </div>
  <div class="col-md-6">
    <app-card>
      <h5 class="card-title text-center">Desktop</h5>
      <a routerLink="watch" class="btn btn-success">Know More Desktop</a>
    </app-card>
  </div>
</div>
